import os

BASE_DIR = os.path.abspath(os.path.dirname(__file__))

class Config:
    SECRET_KEY = 'your-secret-key' # Змініть на надійний ключ
    SQLALCHEMY_DATABASE_URI = f"sqlite:///{os.path.join(BASE_DIR, '../src/backend/contacts.db')}"
    SQLALCHEMY_TRACK_MODIFICATIONS = False
